<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <table class="table">
      <thead>
        <th scope="col">Ingredient</th>
        <th scope="col">Amount</th>
        <th scope="col">Remove</th>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of ingredients">
          <td><a (click)="editIngredient(ingredient.id)">{{ingredient.name}}</a></td>
          <td>{{ingredient.amount}}</td>
          <td><a (click)="onRemove(ingredient.id)">X</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>