<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients Shopping List</h3>
    <hr>
    <form (ngSubmit)="onSubmit()" #form="ngForm" >
        <input  type="hidden" 
                id="id"
                ngModel
                name="id"
                #id="ngModel">
      <div class="row">
        <div class="col-sm-10 form-group">
          <label  for="name">Name</label>
          <input  type="text" 
                  class="form-control" 
                  id="name"
                  ngModel
                  name="name"
                  required
                  #name="ngModel">
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            Ingredient name is required!
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-10 form-group">
          <label  for="amount">Amount</label>
          <input  type="text" 
                  class="form-control" 
                  id="amount" 
                  ngModel
                  name="amount"
                  required
                  pattern="[0-9]*"
                  #amount="ngModel">
          <div class="alert alert-danger" *ngIf="amount.invalid && (amount.dirty || amount.touched)">
            <div *ngIf="amount.errors.required">
                Amount is required!
            </div>
            <div *ngIf="amount.errors.pattern">
                Amount should be an Integer!
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" 
                  type="submit" 
                  [disabled]="!form.valid">{{(this.form.value.id == null || this.form.value.id === '') ? 'Add' : 'Update'}}</button>
          <button class="btn btn-primary" 
                  type="button"
                  (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
